* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: #705CF2;
}

::-webkit-scrollbar-thumb {
  background-color: #f3f3f3;
}

body {
  background-color: #010409;
  color: #f3f3f3;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
}

button {
  cursor: pointer;
  outline: none;
}